MONGODB_ROOT_USERNAME = root
MONGODB_ROOT_PASSWORD = password
MONGODB_USERNAME = user
MONGODB_PASSWORD = password
MONGODB_DB_NAME = boulez
MONGODB_DB_PORT = 27018

API_PORT = 5000

CONTAINER_NAME_WEB = boulez_node_api
CONTAINER_NAME_MONGO = boulez_node_db